echo "# mywebapp" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/YoMuscle/mywebapp.git   NOTES: 請用自己的 repository!!!!!
git push -u origin main
